## Pandas: Data Structures

### Creating a DataFrame object in Pandas

#### What is a DataFrame?

The **DataFrame** data structure in Pandas is a <i>two-dimensional labeled array</i>. 

* Data in the array can be of any type (integers, strings, floating point numbers, Python objects, etc.). 
* Data within each column is homogeneous
* By default Pandas creates a numerical index for the rows in sequence 0...n

#### Preliminaries - import pandas and datetime library; create data for populating our first dataframe object

In [18]:
import pandas as pd
import datetime

In [19]:
# create a list containing dates from 12-01 to 12-07
dt = datetime.datetime(2017,12,1)
end = datetime.datetime(2017,12,8)
step = datetime.timedelta(days=1)
dates = []

In [20]:
# populate the list
while dt < end:
    dates.append(dt.strftime('%m-%d'))
    dt += step

In [21]:
dates

['12-01', '12-02', '12-03', '12-04', '12-05', '12-06', '12-07']

In [22]:
d = {'Date': dates, 'Tokyo' : [15,19,15,11,9,8,13], 'Paris': [-2,0,2,5,7,-5,-3], 'Mumbai':[20,18,23,19,25,27,23]}

In [23]:
d

{'Date': ['12-01', '12-02', '12-03', '12-04', '12-05', '12-06', '12-07'],
 'Mumbai': [20, 18, 23, 19, 25, 27, 23],
 'Paris': [-2, 0, 2, 5, 7, -5, -3],
 'Tokyo': [15, 19, 15, 11, 9, 8, 13]}

In [24]:
dic = {'Date':dates, 'Tokyo':[15,19,15,11,9,8,13], 'Paris':[-2,0,2,5,7,-5,-3], 'Mumbai':[20,18,23,19,25,27,23]}

#### Example 1: Create Dataframe Object from a Python Dictionary of equal length lists

In [25]:
temps = pd.DataFrame(d)
print temps

    Date  Mumbai  Paris  Tokyo
0  12-01      20     -2     15
1  12-02      18      0     19
2  12-03      23      2     15
3  12-04      19      5     11
4  12-05      25      7      9
5  12-06      27     -5      8
6  12-07      23     -3     13

In [26]:
temps = pd.DataFrame(dic)
print temps

    Date  Mumbai  Paris  Tokyo
0  12-01      20     -2     15
1  12-02      18      0     19
2  12-03      23      2     15
3  12-04      19      5     11
4  12-05      25      7      9
5  12-06      27     -5      8
6  12-07      23     -3     13

In [27]:
ntemp = temps['Mumbai']

In [28]:
ntemp = temps['Tokyo']

In [29]:
ntemp

0    15
1    19
2    15
3    11
4     9
5     8
6    13
Name: Tokyo, dtype: int64

In [30]:
temps = temps.set_index('Date')

In [31]:
temps

       Mumbai  Paris  Tokyo
Date
12-01      20     -2     15
12-02      18      0     19
12-03      23      2     15
12-04      19      5     11
12-05      25      7      9
12-06      27     -5      8
12-07      23     -3     13

####  Example 2 : Create DataFrame Object by reading a .csv file (Titanic passengers)

In [32]:
titanic = pd.read_csv("../data/titanic.csv")

titanic.head()

IOError: File ../data/titanic.csv does not exist

In [ ]:
#print titanic.Fare.value_counts()
print titanic.Sex.value_counts()

#### Example 3 : Create DataFrame Object by reading a .csv file (Olympic Medalists)

In [ ]:
medals=pd.read_csv('../data/olympicmedals.csv')

In [ ]:
medals.tail()

In [ ]:
medals.Sport.value_counts()

# Getting Started with pandas

In [ ]:
import pandas as pd
pd.Series

In [ ]:
from pandas import Series, DataFrame

In [ ]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Introduction to pandas Data Structures

### Series

In [ ]:
obj = pd.Series([4, 7, -5, 3, 4])
obj

In [ ]:
obj.values
obj.index  # like range(4)

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2
obj2.index

In [ ]:
obj2['a']
obj2['d'] = 6
obj2[['c', 'a', 'd']]

In [ ]:
obj2[obj2 > 0]
obj2 * 2
np.exp(obj2)

In [ ]:
'b' in obj2
'e' in obj2

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

In [ ]:
pd.isnull(obj4)
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj3
obj4
obj3 + obj4

In [ ]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
obj4.name = 'population'
obj4.name

In [ ]:
obj4.index.name = 'state'
obj4

In [ ]:
obj4['California'] = 60000
obj4

#### obj
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

### DataFrame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
frame.head()

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2
#frame2.columns

In [ ]:
frame2['state']
frame2.year

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt'] = 16.5
frame2
frame2['debt'] = np.arange(6.)
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']
frame2.columns

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
pd.DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
pd.DataFrame(pop, index=[2001,2002,2003])

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:2],
         'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

In [ ]:
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

In [ ]:
frame3.columns = [['NEVADA', 'OHIO']]
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

### Index Objects

In [ ]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index
index[1:]

In [ ]:
index[1] = 'd'  # TypeError

In [ ]:
labels = pd.Index(np.arange(3))
labels
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2
obj2.index is labels

In [33]:
labels2 = pd.Index([6,8,10])
obj22 = pd.Series([1.5,-2.5,0], index=labels2)
obj22.index is labels2

True

In [34]:
frame3
frame3.columns
'Ohio' in frame3.columns
2003 in frame3.index

NameError: name 'frame3' is not defined

In [35]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

Index([u'foo', u'foo', u'bar', u'bar'], dtype='object')

## Essential Functionality

### Reindexing

In [36]:
obj

NameError: name 'obj' is not defined

In [37]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [38]:
obj2

NameError: name 'obj2' is not defined

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3
obj3.reindex(range(6), method='ffill')

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

In [ ]:
frame.loc[['a', 'b', 'c', 'd'], states]

### Dropping Entries from an Axis

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj
new_obj = obj.drop('c')
new_obj
obj.drop(['d', 'c'])

In [ ]:
obj = pd.Series(np.arange(5.), index=['a','b','c','d','e'])
obj

In [ ]:
new_obj =obj.drop('c')
new_obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop('two', axis=1)
data.drop(['two', 'four'], axis='columns')

In [ ]:
data.drop(['one','four'], axis=1)

### Indexing, Selection, and Filtering

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj
obj['b']
obj[1]
obj[2:4]
obj[['b', 'a', 'd']]
obj[[1, 3]]
obj[obj < 2]

In [ ]:
obj

In [ ]:
obj = pd.Series(np.arange(4.), index=['a','b','c','d'])
obj.columns = 'Column'
obj

In [ ]:
obj['b':'c']

In [ ]:
obj['b':'c'] = 5
obj
obj.columns

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data['two']
data[['three', 'one']]

In [ ]:
data['four']
data.index[1]

In [ ]:
data

In [ ]:
data[:2]
data[data['three'] > 5]

In [ ]:
data < 5
data[data < 5] = 0
data

#### Selection with loc and iloc

In [ ]:
data.loc['Colorado', ['two', 'three']]

In [ ]:
data.iloc[2, [3, 0, 1]]
data.iloc[2]
data.iloc[[1, 2], [3, 0, 1]]

In [ ]:
data.loc[:'Utah', 'two']
data.iloc[:, :3][data.three > 5]

### Integer Indexes

ser = pd.Series(np.arange(3.))
ser
ser[-1]

In [ ]:
ser = pd.Series(np.arange(3.))

In [ ]:
ser

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

In [ ]:
ser[:1]
ser.loc[:1]
ser.iloc[:1]

### Arithmetic and Data Alignment

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])
s1
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df1
df2

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})
df1
df2
df1 - df2

#### Arithmetic methods with fill values

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))
df2.loc[1, 'b'] = np.nan
df1
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
1 / df1
df1.rdiv(1)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

#### Operations between DataFrame and Series

In [ ]:
arr = np.arange(12.).reshape((3, 4))
arr
arr[0]
arr - arr[0]

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.iloc[0]
frame
series

In [ ]:
frame - series

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
frame + series2

In [ ]:
series3 = frame['d']
frame
series3
frame.sub(series3, axis='index')

### Function Application and Mapping

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame
np.abs(frame)

In [ ]:
f = lambda x: x.max() - x.min()
frame.apply(f)

In [ ]:
frame.apply(f, axis='columns')

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

In [ ]:
format = lambda x: '%.2f' % x
frame.applymap(format)

In [ ]:
frame['e'].map(format)

### Sorting and Ranking

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
frame.sort_index()
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

In [ ]:
frame.sort_index()

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by=['a', 'b'])

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

In [ ]:
obj.rank(method='first')

In [ ]:
# Assign tie values the maximum rank in the group
obj.rank(ascending=False, method='max')

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                      'c': [-2, 5, 8, -2.5]})
frame
frame.rank(axis='columns')

### Axis Indexes with Duplicate Labels

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']
obj['c']

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df
df.loc['b']

## Summarizing and Computing Descriptive Statistics

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns', skipna=False)

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

### Correlation and Covariance

***conda install pandas-datareader*** **Run this command in the terminal

In [ ]:
import pandas_datareader.data as web
all_data = {ticker: web.get_data_yahoo(ticker)
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [ ]:
returns = price.pct_change()
returns.tail()

In [ ]:
returns['MSFT'].corr(returns['IBM'])
returns['MSFT'].cov(returns['IBM'])

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.corr()
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
returns.corrwith(volume)

### Unique Values, Value Counts, and Membership

In [ ]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values, sort=False)

In [ ]:
obj
mask = obj.isin(['b', 'c'])
mask
obj[mask]

In [ ]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
pd.Index(unique_vals).get_indexer(to_match)

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
result

##  A Case Study

In [ ]:
import pandas

In [ ]:
pandas.__version__

In [ ]:
pandas.read_csv('../data/gapminder.tsv', delimiter='\t')

In [ ]:
df = pandas.read_csv('../data/gapminder.tsv', delimiter='\t')

In [ ]:
df.head()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../data/gapminder.tsv', delimiter='\t')

In [ ]:
df.head()

In [ ]:
type(df)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
country_df = df['country']

In [ ]:
df[['country', 'continent', 'year']].head()

In [ ]:
df.columns

In [ ]:
del df['country']

In [ ]:
# del df.country

In [ ]:
df = df.drop('continent', axis=1)

In [ ]:
df = pd.read_csv('../data/gapminder.tsv', delimiter='\t')

In [ ]:
# loc
df.loc[0]

In [ ]:
df.loc[99]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[99]

In [ ]:
df.iloc[-1]

In [ ]:
df.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']]

In [ ]:
df.iloc[[0, 99, 999], [0, 3, 5]]

In [ ]:
le_mean = df['lifeExp'].mean()

In [ ]:
le_mean

In [ ]:
df.loc[df['lifeExp'] > le_mean, :]

In [ ]:
df.groupby('year')

In [ ]:
df.groupby('year')['lifeExp'].mean()

In [ ]:
df.groupby('year')[['lifeExp', 'gdpPercap']].mean()

In [ ]:
df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()

In [ ]:
(df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()).reset_index()

In [ ]:
df.groupby('continent')['country'].nunique()

In [ ]:
gyle = df.groupby('year')['lifeExp'].mean()

In [ ]:
gyle

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

gyle.plot()

In [ ]:
gyle

In [ ]:
type(gyle)

In [ ]:
df = gyle.reset_index()

In [ ]:
#df.to_csv('../output/lifeExp_by_year.csv', index=False)