## Introduction to Big Data Midterm

Assign date: 2018-2-08

Due date: 2018-2-16 11:59pm

Please submit only one copy of your Jupyter Notebook file with your answers for each question provided in the following cells below to Moodle. There will be no extensions or excemptions. 

**You will lose 10% each day your submission is late. **

Please do not post any answers to the general question forum. You can however ask for technical help on the course page if you are having actualy technical issues. I reserve the right to delete any question/response that I deem being too much "begging for hints" in nature. You may email me directly at mtenney@yorku.ca if you have any questions, but do note I will not provide you any answers and my response may take up to 48hrs. And of course, you're free to use any class material, the Internet, or additional resources to complete the exam. The exam covers material from weeks 1-4 inclusively.

**Note you MUST RUN THE CODE and print out the required results when submitting. Any empty cells or un-run code will not be accepted. **


**1) Import the following libraries to your notebook (you can use alias' if you want) in the cell below:**<br/>
    pandas,
    seaborn,
    os,
    matplotlib.pyplot<br/>
**And** add the following flag: 
    %matplotlib inline

**2) Index a list in Python**<br/>
Run the code below, it will give a result of 4. If we want to get ONLY the number 8 from the list of lists below, how would you alter the code? Alter the code directly and run to print the desired output.

In [ ]:
question2 = [[1,2],[3,4],[5,6],[7,[8,9]]]
print question2[1][1]

**3) Define a variable called bigdata, to be a list in python with the following elements and print only the last two elements of the list:**<br/> 1, "Big Data Class", 2, "Is Really Fun",3, "I Love Python"

**4) Cast the following list to be a string in Python:** <br/>
Define the list [1,2,4,3,'k'] and cast it to a string where you print out '1243k'. Insert your code below.

**5) Test whether the two lists are equal too each other and if not what elements are shared between the two lists.**<br/>
<t/>list1 = ['1',2,'3',4,5]<br/>
<t/>list2 = [1,2,3,4,'5',6]<br/>
<br/>
Define the lists and print whether the lists are equal to one another, and find which elements are a match. (***Hint you can go element by element or use you can use a "for" loop, or, you can use a different data structure all together***).

**6) Convert list2 to be indentical to list1 by casting the datatypes to match those in list1.**<br/>

**7) What are the "5 V's" commonly used to describe Big Data?** Write your answer below.

**8) Finish the quote:**<br/> *"All models are wrong. Some are [...]"*

**9) If a variable dogs = 103x23/2 and a variable cats = 10x12x4,  Use python to determing if dogs are greater than cats. **

**10) What is the name for the 3 primary measures of central tendency and give their definition**

**11) Calculate the descriptive statistice for each of the above central measures in Python on this list of numbers and print out the values:**<br/> 

[12,44,23,2,1,66,7,85,3,34,23,6,34,23,7,21,14,34,23,88]
<br/> 
*(Hint: it might be easier to import a function from some other library)*

**12) Delete the empty cell  between question 12 (this one) and Question 13 from the Jupyter notebook**

**13) Create a list, called mylist, containing a sequential list of numbers that starts with 2 and stops at 1000, counting by 2's in Python**

**14) Is the sum of the first 50 elements in "mylist" greater than the last element of  "mylist"?**<br/> Use Python below to print out the answer. (mylist is defined in question 13).

**15) What is the length of "mylist"?**

**16) Create another list, called my2ndlist, containing a list of numbers starting at 1002 and stops at 1052,counting by 3's in Python. <br/>THEN concatenate my2ndlist with mylist into a new list called theMegaList.**<br/> Print theMegaList below.

**17) What is the index for the value 822 in theMegaList?**

**18) Write a for loop that will test if an element in theMegaList is an even or odd number and keeps a count of how many of each there are in the list.**<br/> Print out the total number of even and odd numbers found in theMegalist below.

**19) Write a brief definition of what Data Latency and the difference between "real-time" and "near-time" data.**

**19) What does the statistic Standard Deviation tell you about a numerical dataset? **

**20) Suppose you have the following loop:**<br>
>things = [1,2,3,5,6,7,8,9,10]<br>
>previous_thing = 0<br>
>for thing in things:<br>
>>new_thing = thing * previous_thing<br>
>>x = 3+previous_thing<br>
>>previous_thing = thing<br>

**At the end of the loop:**
>**What does new_thing equal?**<br>
>**What does x equal?**

**21) What's the difference between Zero and None or Null?**

**22) In the following loop:**<br> 
>x = 1<br>
>sure_thing = True<br>
>while sure_thing:<br>
>>x = x +100<br>
>>if x < 20001: <br>
>>>x = x-1<br>
>>else: <br>
>>>sure_thing = False<br>

**What does x equal to make our sure_thing False? **

**Based on the DataFrame df and df1 defined below, add needed code to answer the following questions.**

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
raw_data = {'first_name': ['Jason', 'Jason', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Miller', 'Ali', 'Milner', 'Milner'],
        'age': [42, 42, 36, 24, 73],
        'preTest': [4, 4, 31, 2, 3],
        'postTest': [25, 25, 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTest', 'postTest'])
df1 = df

**23) What are the column names in df1?print the result.**

**24) What is the average (mean) of the preTest and postTest scores?print the result. **

**25) Remove duplicated rows in df based on last_name only.  Instead of keeping the first value, now keep the last of the duplicated values.print the result.**

**26) Remove duplicated rows in df1 based on both first_name and last_name.  print the result.**

***Use the dataframe defined in the following cell to answer the next few questions***:

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
np.random.seed(42)
randomdata = DataFrame(np.random.randn(400, 4))
print randomdata
%matplotlib inline

**27) Use the "describe" function to summarize the randomdata created above.**

**28) Identify the rows which contains at least one item with absolute value greater than 1**

**29) Set the values greater than 3 to 3, and the values less than -3 to -3.  Rerun the 'describe' function to summarize the randomdata dataset.**

***Use the dataframe defined in the following cell to answer the next few questions***:

In [ ]:
df2 = pd.DataFrame(np.random.randn(59,4))
cols = ['GrossIn', 'GrossOut', 'NetIn', 'NetOut']
df2.columns = cols
dates = pd.date_range(start='2015-11-29', freq='W', periods=59)
df2.index = dates
df2

**30) Print all the data from 2016-06-19 to 2016-10-20 in df2 above.**

**31) What was the GrossIn and NetIn for 2016-09-18? Print the results. **

**32) Sum all the GrossOut and NetOut for the month of March 2016 in df2. Print the results. **

**33) Find all the days GrossOut was greater than GrossIn in df2. Print the results.**

**34) What percentage was the total NetOut of the total NetIn in the year 2016 from df2 above? **

**35) Plot values for 2016 on a line graph for the GrossOut and GrossIn in df2:**

**36) Plot 4 different HISTOGRAMS of df2.GrossIn each having 5,10,15,20 bins.**<br> 
Hint: use the following code  to plot the histograms on different subplots. <br> 

import matplotlib.pyplot as plt<br> 
fig, ax = plt.subplots(nrows=2, ncols=2)<br> 
dataframe.plot(ax=ax[0,0])# this is just an example of how to plot on a top right subplot (2x2)

**37) What is your favorite pizza topping? None is not a valid answer. I don't care if you are off gluten.**

**38) Import pandas libary with the alias pd**

**39)You are given the Medicare spending dataset. Read it into a pandas dataframe. Then remove the 2 unused columns 'Measure Start Date' and 'Measure End Date' from the DataFrame all in the following cell. Provide your code as the answer. **

***You need to put the data file ‘Medicare_Hospital_Spending_by_Claim.csv’ at the same place as your notebook file.***

**40) Continuing with data from above, convert the dataframe content to be the right "data type" (i.e., int, float, etc) in order to perform statistical calculations for the DataFrame.  Provide your code and the resulting new print out as the answer.**
<br>
***Hint convert the columns with % and $ using regex***

**41) Replace columns names...replace the original long column names in the dataframe above (Q - 39) with shorter ones provided below in "newColumns".  Provide your code and the resulting new column names as the answer.**
<br/>
newColumns = ['Hospital', 'Provider ID', 'State', 'Period', 'Claim Type', 'Avg Spending Hospital', 'Avg Spending State', 'Avg Spending Nation', 'Percent Spending Hospital', 'Percent Spending State', 'Percent Spending Nation']

**42) Continuing with the dataframe above, extract only the TX state claims into a new dataframe.  Provide your code and print the new dataframe (with only TX claims) below as the answer.**

**43) Using the dataframe from above (Q 42), find the average spending for each different TX hospitals groupedby each kind of  different claim types.  Provide your code and the resulting new print out as the answer. **

**44) Continuing from above (Q 43), what is the mean and max percentage spending of different TX hospitals for each different claim types.  Provide your code and print out the answer. **

**45) The below DataFrame has a column of groups 'grps' and and column of numbers 'vals'.                   
For each group, find the ***sum of the three greatest values.*****

In [ ]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

**46) Some values in the values in the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).**
***Use the dataframe below***

In [ ]:

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm','Budapest_PaRis','Brussels_londOn'],'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})

**47) Give a very general and short definition of what an Analytical Model is or is supposed to do?**

**48) Briefly describe the differences between "supervised" and "unsupervised" learning.**

**49) Briefly describe the differences between "classification" and "clustering".**

**50) Name 3 different "kinds" of Analytical Models and provide a brief definition of each. **

**EXTRA CREDIT 51) Why is Ordinary Least Squares Regression, called Ordinary Least Squares?**

**EXTRA CREDIT 52) Why do vicious feedback loops matter in data analytics?**

**EXTRA CREDIT 53) What are the 10 simple rules Zook et. al. Suggest to follow when doing big data analytics?**